@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace JewelryShopApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    <!-- Favicons -->
    <link href="img/logo-capture.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="vendor/fonts/fonts.css" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-free-6.4.2-web/css/all.css" />

    <!-- Template Main CSS File -->
    <link href="css/site.css" rel="stylesheet">

    <!-- Cart JS File -->
    <script src="js/Cart.js"></script>
    <!-- Favourite JS File -->
    <script src="js/Favorite.js"></script>

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" /> 
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
	<!-- Vendor JS Files -->
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script> 
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>

    <script src="js/shopping.js"></script>

    <script src="_framework/blazor.server.js"></script> 
</body>
</html>


