@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

<PageTitle>JewelryShopApp</PageTitle>

<div class="page">
	<NavMenu />
    @Body
    <div class="footer">
        <Footer />
    </div>
    <a class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="snackbar-show-container" class="position-fixed bottom-0 start-0 p-3" style="z-index: 11"></div>
</div>
@code{

}
